<div id="mail">
	<div id="message_container">
		<div id="message_headline">
    	<h2 class="headline">
        	Want to <span class="form_bold">work</span> with me?<br>
            Why not send me a <span class="headline_bold">message</span>.
    	</h2>
    </div>
    <div id="message_form">       
      <div id="left">  	
      	<form action="" name="form1" method="post" accept-charset="utf-8" id="form1" autocomplete="on">
					<input type="text" class="required" id="name" name="name" placeholder="your name" title="*your name">
          <input id="email" class="required" type="email" name="email" placeholder="email address" title="*email address">
        </form> 
      </div>
      <div id="right">
  			<textarea   class="required" name="message" placeholder="A little about your project..." form="form1" title="message"></textarea>
  			<input id="submit" type="submit" form="form1">
      </div>
      <div id="myResultDiv"></div>
		</div>                       	
  </div>
</div>