<header>
	<div id="inner_header">
  	<a href="index.html">
      <div id="logo">
        {% include icons/logo.html %}
      </div>
    </a>
    <div id="name_container">
    	<h3 class="my_name headline">Ury Guzman</h3>
    </div> 
    	<nav>
        <ul>
					<li><a href="#main" class="scroll">Home</a></li>
					<li><a href="#process" class="scroll">Process</a></li>
					<li><a href="#work" class="scroll">Work </a></li>
					<li> <a href="#mail" class="scroll">Contact</a></li>
					<li> <a href="#footer" class="scroll">About me</a></li>
       	</ul>
	    </nav>
    </div>
</header>
<div id="main">
  <div id="main_title">
    <h1 class="hero_message headline">Hello! <br>
      Let's create something<br>
      great together.
    </h1>
    <h3>I am Ury Guzman a Freelance Graphic and Web Designer</h3>
    <div id="social_links">
      <div class="fb-like" data-href="http://www.uryguzman.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      <a href="https://twitter.com/UryGuzman" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @UryGuzman</a>
    </div>
  </div>
</div>
<div id="services"> 
  <h3> logos, business cards, websites, app designs, print materials</h3>
</div>