<div id="work">
	<div id="work_heading">
    	<h2 class="headline">Work/</h2>
    </div>
    <div class="main">
        <ul id="og-grid" class="og-grid">
            <li>
                <a href="" data-largesrc="assets/imgs/frankbarber.jpg" data-title="Frank the Barber Logo" data-description="Logo design for California barber Frank Oropeza from Trendsetters Barbershop ">
                <img src="assets/imgs/thumbs/frankthebarberthumb.png" alt="Frank the Barber Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/nanys.jpg" data-title="Nany's Tienda Logo" data-description="This project was for a local boutique that sells custom jewelry as well as clothing. ">
                <img src="assets/imgs/thumbs/nanysthumb.jpg" alt="Nany's logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/capi.jpg" data-title="Corporacion Capi Logo" data-description="One of many submissions for the rebranding of Corporacion Capi, the decision was between this logo and their current logo.">
                <img src="assets/imgs/thumbs/capithumb.jpg" alt="Capi logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/ebt.jpg" data-title="Engaged by Training Logo" data-description="Logo for Engaged by Training, a virtual training service in the construction sector.">
                <img src="assets/imgs/thumbs/ebtthumb.jpg" alt="EBT logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/launchopolouslogo.jpg" data-title="Launchopolous Logo" data-description="Logo for Launchopolous a service that helps launch projects. The client wanted a retro space theme that would give a sense of financial progress.">
                <img src="assets/imgs/thumbs/launchopolousthumb.jpg" alt="Launchopolous Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/estimatemyhome.jpg" data-title="Estimate my Home" data-description="Logo for Estimate my Home, a service that provides an evaluation of your home.">
                <img src="assets/imgs/thumbs/estimatemyhomethumb.jpg" alt="Estimate my home logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/adrianlogo.png" data-title="Abogado Adrian Guzman" data-description="Logo design for lawyer Adrian Guzman">
                <img src="assets/imgs/thumbs/adrianlogothumb.png" alt="Lawyer Adrian Guzman logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/gopromoteme.jpg" data-title="Go Promote Me" data-description="Logo for Go Promote Me, a full-service videography and photography company that help promote your business.">
                <img src="assets/imgs/thumbs/gopromotemethumb.jpg" alt="Go promote me logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/chapman.jpg" data-title="Chapman Business Cards" data-description="Business card designs for Chapman Land Services">
                <img src="assets/imgs/thumbs/chapmanthumb.jpg" alt="Chapman Business cards"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/bucketmouthrootbeer.jpg" data-title="Bucketmouth Root Beer" data-description="Design for Bucketmouth Root Beer
                ">
                <img src="assets/imgs/thumbs/bucketmouththumb.jpg" alt="Bucketmouth Root Beer"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/wopa.jpg" data-title="Wopa Digital" data-description="Logo design for Wopa Digital, a digital marketing agency based in Mexico that places ads on WiFi connections.">
                <img src="assets/imgs/thumbs/wopathumb.jpg" alt="Wopa Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/tk.jpg" data-title="TK Professional Services" data-description="Logo design for TK, Chartered Accountants.">
                <img src="assets/imgs/thumbs/tkthumb.jpg" alt="Tk Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/chalk.jpg" data-title="Chalk 4 Peace" data-description="Logo for annual Chalk 4 Peace event, was printed on shirts and merchandize.">
                <img src="assets/imgs/thumbs/chalkthumb.jpg" alt="Chalk 4 Peace"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/yedy.jpg" data-title="Yedy" data-description="Logo design for Yedy, a website where your submit video content.">
                <img src="assets/imgs/thumbs/yedythumb.jpg" alt="Yedy logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/solaris.jpg" data-title="Solaris Entertainment" data-description="Logo for Solaris Entertainment, video production company. ">
                <img src="assets/imgs/thumbs/solaristhumb.jpg" alt="Solaris Entertainment Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/shopblog.jpg" data-title="Shopblog.nl" data-description="Shopblog logo design.">
                <img src="assets/imgs/thumbs/shopblogthumb.jpg" alt="Shopblog"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/NorthEastServiceslogo.jpg" data-title="NorthEast Services logo" data-description="NorthEast Services logo.">
                <img src="assets/imgs/thumbs/NorthEastServiceslogothumb.jpg" alt="NorthEast Services logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/ORASlogo.jpg" data-title="ORAS Logo" data-description="Logo for ORAS Organicacion por la Accion Social.">
                <img src="assets/imgs/thumbs/ORASthumb.jpg" alt="ORAS Logo"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/alexalogo.jpg" data-title="Alexa Logo" data-description="Logo and Business cards for arquitect Alexa Contreras.">
                <img src="assets/imgs/thumbs/alexathumb.jpg" alt="Alexa Logo and Business Card"/>
                </a>
            </li>
            <li>
                <a href="" data-largesrc="assets/imgs/lalalogo.jpg" data-title="Lala Accessories" data-description="Logo for a Lala Accessories, a handmade fashion accessory boutique">
                <img src="assets/imgs/thumbs/lalathumb.jpg" alt="Logo For Lala Accessories"/>
                </a>
            </li>
        </ul>
    </div><!-- /container/ -->
    <script src="assets/js/portfolio.js"></script>
        <script>
        $(function() {
            Grid.init();
        });
        </script>
</div>