<div id="process">
    <div id="process_headline">
        <h2 class="headline">Design Process/</h2>
    </div>
    <div id="inner_process">
        <div class="info">
    	    <span class="icon_plan"></span>
        	<h3>Plan</h3>
            <div class="info_copy">
                <p>Together we develop a <span class="info_highlight">strategy</span><br>
                that is <span class="info_highlight">targeted</span> to your needs,<br>
                not moving <span class="info_highlight">forward</span> until everyone<br>
                is happy with the concept.</p>
            </div>
        </div>
    	<div class="info">
    		<span class="icon_create"></span>
    		<h3>Create</h3>
            <div class="info_copy">
                <p>Based on the <span class="info_highlight">research,</span> we <br>develop
                rough ideas which will go<br> through 
                many <span class="info_highlight">phases</span> before it is <br>nice and 
                <span class="info_highlight">shiny!</span></p>
            </div>
        </div>
    	<div class="info">
    		<span class="icon_deliver"></span>
    		<h3>Deliver</h3>
   		    <div class="info_copy">
                <p>The final step is smiling<br> as we hand the completed<br> project over in <span class="info_highlight">timely</span> fashion <br>and then <span class="info_highlight">celebrating!!</span></p>
            </div>
        </div>
    </div>
</div>