#mail
	width: 100%
	margin: 0 auto
	display: none

#message_container
	width: 100%
	background: #EE3324
	border-bottom: #ED1E14 6px solid
	margin: 0 auto
	float: left
	padding: 20px 0 50px 0

#message_headline
	text-align: center
	width: 100%

.form_headline
	font-weight: 100
	color: #FFF

	::-webkit-input-placeholder 
		font-family: 'Source Sans Pro', sans-serif
		font-size: 21px
		font-weight: 100
		font-style: italic
		color: #ccc



	
	::-moz-placeholder  /* Firefox 18- */
		font-family: 'Source Sans Pro', sans-serif
		font-size: 21px
		font-weight: 100
		font-style: italic
		color: #ccc  


	::-moz-placeholder   /* Firefox 19+ */
		font-family: 'Source Sans Pro', sans-serif
		font-size: 21px
		font-weight: 100
		font-style: italic
		color: #ccc


	:-ms-input-placeholder   
		font-family: 'Source Sans Pro', sans-serif
		font-style: italic
		font-size: 21px
		font-weight: 100
		color: #ccc 


#message_form
	height: 114px
	width: 900px
	margin: 0 auto

#left
	width: 320px
	float: left

#right
	width: 486px
	float: left
	margin: 0 0 0 27px

#name
	width: 300px
	height: 40px
	padding: 10px
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border: none
	margin: 10px 0 23px 0
	line-height: 14px

#email
	width: 300px
	height: 40px
	padding: 10px
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border: none
	line-height: 14px


textarea
	height: 123px
	width: 300px
	padding: 10px
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border: none
	margin: 10px 30px 0 0
	float: left
	resize: none
	overflow: hidden
	line-height: 14px

label.error 
	float: left
	margin: -149px 0 0 0
	clear: both
	color: #FFF


#submit
	height: 41px
	width: 113px
	background: #333333
	border-radius: 5px
	border: none
	float: left
	margin: 112px 0 0 0
	cursor: pointer
	background: url(../imgs/send-button_03.png)
	text-indent: -9999px

#submit:hover 
	opacity: 0.9
	background-position: 0px 41px
	